/*style.css stylings for portfolio 2.0*/
/*============================================*/
/*stylings for * and max-width for wrapper*/

* {box-sizing: border-box; margin: 0; padding: 0;}

#wrapper {
	position: relative;
	background-color: #ffffff;
	width: 100%;
	max-width: 65em;
	margin: 0 auto;
	overflow-x: hidden;
}

html{
	width: 100%;
	overflow-x: hidden;
}

body {
	overflow-x: hidden;
	height: 100%;
	width: 100%;
	color: #272735;
}

#gradient {
	position: fixed;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: #000000;
	background: -webkit-linear-gradient(bottom, #ffffff, #b8c2d6, #10002d, #000000 170%);
	background: -o-linear-gradient(bottom, #ffffff, #b8c2d6, #10002d, #000000 170%);
	background: -moz-linear-gradient(bottom, #ffffff, #b8c2d6, #10002d, #000000 170%);
	background: linear-gradient(to top, #ffffff, #b8c2d6, #10002d, #000000 170%);
}

#index, #design, #webdev, #illustration {
	position: fixed;
	top: -25em;
	left: -60em;
	width: 300em;
	height: 300em;
	background-image: url(images/halftone.svg);
	background-repeat: repeat;
	background-size: 1.3em;
	transform: rotate(33deg);
}

/*============================================*/
/*Stylings for the image container*/

#dark-box {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, .5);
	z-index: 101;
	display: none;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

#image-box {
	background-color: rgba(255, 255, 255, 1);
	border-radius: .7em;
	width: 90%;
	height: 95%;
	overflow: hidden;
	border: .35em double #585d66;
}

#image-side {
	position: fixed;
	z-index: 50;
	background: linear-gradient(to  bottom, #ffffff 85%, transparent);
	-webkit-background: linear-gradient(to  bottom, #ffffff 85%, transparent);
	-o-background: linear-gradient(to  bottom, #ffffff 85%, transparent);
	-moz-background: linear-gradient(to  bottom, #ffffff 85%, transparent);
	pointer-events: none;
}

#changeout-image {
	padding-right: .5em;
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
	pointer-events: none;
}

#description-side {
	background-color: rgba(255, 255, 255, 1);
	position: relative;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding: .5em;
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 49;
}

#changeout-text {
/*	display: table-cell;*/
	width: 100%;
	vertical-align: center;
	max-height: 100%;
	font-size: 1.2em;
	padding: 0 .4em;
}

#changeout-text>h1 {font-size: 1.6em; padding-bottom: .5em;}
#changeout-text>h3 {font-size: 1.2em; padding-bottom: .5em;}
#changeout-text>p{padding-bottom: .5em;}

#cross {
	position: absolute;
	width: 2em;
	top: 1vh;
	left: 4vw;
	cursor: pointer;
	display: table-cell;
	z-index: 99;
}

/*============================================*/
/*These are classes for #dark-box's fade-ins and fade-outs*/

.fade-in {
	display: block;
	opacity: 1;
	animation: .3s linear 1 fadeIn;
}

.fade-out {
	display: none;
	opacity: 0;
	animation: .3s linear 1 fadeOut;
	pointer-events: none;
}

@keyframes fadeIn {
	0% {display: none; opacity: 0;}
	100% {display: block; opacity: 1;}
}

@keyframes fadeOut {
	0% {display: block; opacity: 1;}
	100% {display: none; opacity: 0;}
}

/*============================================*/
/*Stylings for header name and navbar*/

#artist-name>img {height: 2.7em;}

#artist-name {display: flex; flex-flow: row nowrap;}

#svg-holder {width: 9.2em;}
.svg-path{fill:#ffffff;}
#svg-name:hover>.svg-path{fill:#89c2ff;}
#svg-name:hover>g>.svg-path{fill:#89c2ff;}

#svg-name:active{
	filter: drop-shadow(0 0 .23em #89c2ff);
	-webkit-filter: drop-shadow(0 0 .23em #89c2ff);
}
#svg-name:active>.svg-path{fill:#ffffff;}
#svg-name:active>g>.svg-path{fill:#ffffff;}

#emoticon-swap {min-width: 5.4em;}

header{
	width: 100%;
	height: 3.5em;
	background-image: url(images/ink-banner.svg);
	background-size: 100em;
	background-position: -6em -.05em;
	background-repeat: repeat-x;
	color: #ffffff;
	font-size: 1.2em;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	padding: 0 .2em;
	transition: width 1s linear;
	z-index: 100;
}

#main {margin-top: 4em;}

@keyframes headerScrollDown {
	0%{top: -3em;}
	100%{top: 0;}
}

.sticky-header {
	position: fixed;
	top: 0;
	left: 0;
	transition: all 1s ease-in-out;
	animation: .4s linear 1 headerScrollDown;
}

.static-header {
	position: absolute;
	transition: all 1s ease-in-out;
}

nav {
	width: 70%;
	max-width: 22em;
	min-width: 15.6em;
}

nav ul{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	list-style: none;
}

nav>ul li {transition: all .1s ease-in-out;}

nav>ul li:hover {
	transform: scale(1.2) translate(-.3em, 0);
	text-shadow: .05em .05em .05em #000000;
}

nav>ul li:active {
	transform: scale(1.3) translate(-.3em, 0);
}

nav>ul a:active {
	color: #89c2ff;
}

#hamburger {
	display: none; 
	position: absolute;
	height: 2.3em;
	width: 1.5em;
	top: 17%;
	right: .93em;
	cursor: pointer;
	-webkit-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: ease-in-out .2s;
	-o-transition: ease-in-out .2s;
	-moz-transition: ease-in-out .2s;
	transition: ease-in-out .2s;
	z-index: 200;
	overflow: visible;
}

#hamburger>div {
	display: block;
	position: absolute;
	background-color: #000000;
	border-radius: 100em;
	height: .25em;
/*
	max-height: .25em;
	min-height: .25em;
*/
	width: 100%;
}

#hamburger.clickEvent>div {
	background-color: #ffffff;
}

#hamburger>div:nth-child(1) {
	-webkit-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: top ease-in-out .1s .1s;
	-webkit-transition: transform linear .1s;
	-o-transition: top ease-in-out .1s .1s;
	-o-transition: transform linear .1s;
	-moz-transition: top ease-in-out .1s .1s;
	-moz-transition: transform linear .1s;
	transition: top ease-in-out .1s .1s;
	transition: transform linear .1s;
	top: 0.35em;
} 

#hamburger>div:nth-child(2) {
	-webkit-transition: all linear .01s .09s;
	-o-transition: all linear .01s .09s;
	-moz-transition: all linear .01s .09s;
	transition: all linear .01s .09s;
	top: .8em;
	left: 0;
	width: 100%;
} 

#hamburger>div:nth-child(3) {
	-webkit-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: top ease-in-out .1s .1s;
	-webkit-transition: transform linear .1s;
	-o-transition: top ease-in-out .1s .1s;
	-o-transition: transform linear .1s;
	-moz-transition: top ease-in-out .1s .1s;
	-moz-transition: transform linear .1s;
	transition: top ease-in-out .1s .1s;
	transition: transform linear .1s;
	top: 1.25em;
}

#hamburger.clickEvent>div:nth-child(1) {
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition: all ease-in-out .1s;
	-webkit-transition: transform linear .1s .1s;
	-o-transition: all ease-in-out .1s;
	-o-transition: transform linear .1s .1s;
	-moz-transition: all ease-in-out .1s;
	-moz-transition: transform linear .1s .1s;
	transition: all ease-in-out .1s;
	transition: transform linear .1s .1s;
	top: .8em;
}

#hamburger.clickEvent>div:nth-child(2) {
	-webkit-transition: width linear .01s .09s;
	-o-transition: width linear .01s .09s;
	-moz-transition: width linear .01s .09s;
	transition: width linear .01s .09s;
	-webkit-transition: left linear .01s .09s;
	-o-transition: left linear .01s .09s;
	-moz-transition: left linear .01s .09s;
	transition: left linear .01s .09s;
	width: 1%;
	left: .6em;
}

#hamburger.clickEvent>div:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transition: all ease-in-out .1s;
	-webkit-transition: transform linear .1s .1s;
	-o-transition: all ease-in-out .1s;
	-o-transition: transform linear .1s .1s;
	-moz-transition: all ease-in-out .1s;
	-moz-transition: transform linear .1s .1s;
	transition: all ease-in-out .1s;
	transition: transform linear .1s .1s;
	top: .8em;
}

@media all and (max-width: 38.125em) {
	nav>ul {display: none;}
	
	nav>ul li, .menuShow>ul li {position: absolute; width: 4em;}
	nav>ul li:first-child {top: 12em; right: 15.5em;}
	nav>ul li:nth-child(2) {top: 14.6em; right: 16em;}
	nav>ul li:nth-child(3) {top: 17.2em; right: 15em;}
	nav>ul li:nth-child(4) {top: 19.6em; right: 12em;}
	
	nav {
		position: absolute;
		height: 30em;
		width: 30em;
		min-width: 2em;
		max-width: none;
		top: -12.6em;
		right: -14.25em;
		transform: scale(.14, .14);
		transition: all .09s linear;
		clip-path: polygon(53.06% 28.82%, 53.06% 28.82%,53.06% 28.82%, 53.00% 30.24%, 53.00% 30.24%, 53.00% 30.24%, 52.89% 31.65%, 52.89% 31.65%, 52.89% 31.65%, 52.72% 33.00%, 52.72% 33.00%, 52.72% 33.00%, 52.50% 34.35%, 52.50% 34.35%, 52.50% 34.35%, 52.22% 35.65%, 52.22% 35.65%, 52.22% 35.65%, 51.89% 36.94%, 51.89% 36.94%, 51.89% 36.94%, 51.50% 38.24%, 51.50% 38.24%, 51.50% 38.24%, 51.06% 39.47%, 51.06% 39.47%, 51.06% 39.47%, 50.56% 40.71%, 50.56% 40.71%, 50.56% 40.71%, 50.00% 41.88%, 50.00% 41.88%, 50.00% 41.88%, 49.39% 43.00%, 49.39% 43.00%, 49.39% 43.00%, 48.72% 44.12%, 48.72% 44.12%, 48.72% 44.12%, 48.00% 45.18%, 48.00% 45.18%, 48.00% 45.18%, 47.22% 46.24%, 47.22% 46.24%, 47.22% 46.24%, 46.39% 47.24%, 46.39% 47.24%, 46.39% 47.24%, 45.56% 48.18%, 45.56% 48.18%, 45.56% 48.18%, 44.67% 49.06%, 44.67% 49.06%, 44.67% 49.06%, 43.72% 49.94%, 43.72% 49.94%, 43.72% 49.94%, 42.72% 50.76%, 42.72% 50.76%, 42.72% 50.76%, 41.72% 51.53%, 41.72% 51.53%, 41.72% 51.53%, 40.67% 52.24%, 40.67% 52.24%, 40.67% 52.24%, 39.61% 52.88%, 39.61% 52.88%, 39.61% 52.88%, 38.50% 53.47%, 38.50% 53.47%, 38.50% 53.47%, 37.33% 54.00%, 37.33% 54.00%, 37.33% 54.00%, 36.17% 54.47%, 36.17% 54.47%, 36.17% 54.47%, 34.94% 54.88%, 34.94% 54.88%, 34.94% 54.88%, 33.72% 55.24%, 33.72% 55.24%, 33.72% 55.24%, 32.50% 55.53%, 32.50% 55.53%, 32.50% 55.53%, 31.22% 55.76%, 31.22% 55.76%, 31.22% 55.76%, 29.94% 55.94%, 29.94% 55.94%, 29.94% 55.94%, 28.61% 56.06%, 28.61% 56.06%, 28.61% 56.06%, 27.28% 56.12%, 27.28% 56.12%, 27.28% 56.12%, 25.94% 56.06%, 25.94% 56.06%, 25.94% 56.06%, 24.61% 55.94%, 24.61% 55.94%, 24.61% 55.94%, 23.33% 55.76%, 23.33% 55.76%, 23.33% 55.76%, 22.06% 55.53%, 22.06% 55.53%, 22.06% 55.53%, 20.83% 55.24%, 20.83% 55.24%, 20.83% 55.24%, 19.61% 54.88%, 19.61% 54.88%, 19.61% 54.88%, 18.39% 54.47%, 18.39% 54.47%, 18.39% 54.47%, 17.22% 54.00%, 17.22% 54.00%, 17.22% 54.00%, 16.06% 53.47%, 16.06% 53.47%, 16.06% 53.47%, 14.94% 52.88%, 14.94% 52.88%, 14.94% 52.88%, 13.89% 52.24%, 13.89% 52.24%, 13.89% 52.24%, 12.83% 51.53%, 12.83% 51.53%, 12.83% 51.53%, 11.83% 50.76%, 11.83% 50.76%, 11.83% 50.76%, 10.83% 49.94%, 10.83% 49.94%, 10.83% 49.94%, 9.89% 49.06%, 9.89% 49.06%, 9.00% 48.18%, 9.00% 48.18%, 8.17% 47.24%, 8.17% 47.24%, 7.33% 46.24%, 7.33% 46.24%, 6.56% 45.18%, 6.56% 45.18%, 5.83% 44.12%, 5.83% 44.12%, 5.17% 43.00%, 5.17% 43.00%, 4.56% 41.88%, 4.56% 41.88%, 4.00% 40.71%, 4.00% 40.71%, 3.50% 39.47%, 3.50% 39.47%, 2.94% 38.24%, 2.94% 38.24%, 2.56% 36.94%, 2.56% 36.94%, 2.22% 35.65%, 2.22% 35.65%, 1.94% 34.35%, 1.94% 34.35%, 1.72% 33.00%, 1.72% 33.00%, 1.56% 31.65%, 1.56% 31.65%, 1.44% 30.24%, 1.44% 30.24%, 1.39% 28.82%, 1.39% 28.82%, 1.44% 27.41%, 1.44% 27.41%, 1.56% 26.00%, 1.56% 26.00%, 1.72% 24.65%, 1.72% 24.65%, 1.94% 23.29%, 1.94% 23.29%, 2.22% 22.00%, 2.22% 22.00%, 2.56% 20.71%, 2.56% 20.71%, 2.94% 19.41%, 2.94% 19.41%, 3.39% 18.18%, 3.39% 18.18%, 3.89% 16.94%, 3.89% 16.94%, 4.44% 15.76%, 4.44% 15.76%, 5.06% 14.65%, 5.06% 14.65%, 5.72% 13.53%, 5.72% 13.53%, 6.44% 12.47%, 6.44% 12.47%, 7.22% 11.41%, 7.22% 11.41%, 8.06% 10.41%, 8.06% 10.41%, 8.89% 9.47%, 8.89% 9.47%, 9.78% 8.59%, 9.78% 8.59%, 10.72% 7.71%, 10.72% 7.71%, 11.72% 6.88%, 11.72% 6.88%, 12.72% 6.12%, 12.72% 6.12%, 12.72% 6.12%, 13.78% 5.41%, 13.78% 5.41%, 13.78% 5.41%, 14.83% 4.76%, 14.83% 4.76%, 14.83% 4.76%, 15.94% 4.18%, 15.94% 4.18%, 15.94% 4.18%, 17.11% 3.65%, 17.11% 3.65%, 17.11% 3.65%, 18.28% 3.18%, 18.28% 3.18%, 18.28% 3.18%, 19.50% 2.76%, 19.50% 2.76%, 19.50% 2.76%, 20.72% 2.41%, 20.72% 2.41%, 20.72% 2.41%, 21.94% 2.12%, 21.94% 2.12%, 21.94% 2.12%, 23.22% 1.88%, 23.22% 1.88%, 23.22% 1.88%, 24.50% 1.71%, 24.50% 1.71%, 24.50% 1.71%, 25.83% 1.59%, 25.83% 1.59%, 25.83% 1.59%, 27.17% 1.53%, 27.17% 1.53%, 27.17% 1.53%, 28.50% 1.59%, 28.50% 1.59%, 28.50% 1.59%, 29.83% 1.71%, 29.83% 1.71%, 29.83% 1.71%, 31.11% 1.88%, 31.11% 1.88%, 31.11% 1.88%, 32.39% 2.12%, 32.39% 2.12%, 32.39% 2.12%, 33.61% 2.41%, 33.61% 2.41%, 33.61% 2.41%, 34.83% 2.76%, 34.83% 2.76%, 34.83% 2.76%, 36.06% 3.18%, 36.06% 3.18%, 36.06% 3.18%, 36.06% 3.18%, 36.06% 3.18%, 36.06% 3.18%, 38.39% 4.18%, 38.39% 4.18%, 38.39% 4.18%, 39.50% 4.76%, 39.50% 4.76%, 39.50% 4.76%, 40.56% 5.41%, 40.56% 5.41%, 40.56% 5.41%, 41.61% 6.12%, 41.61% 6.12%, 41.61% 6.12%, 42.61% 6.88%, 42.61% 6.88%, 42.61% 6.88%, 43.61% 7.71%, 43.61% 7.71%, 43.61% 7.71%, 44.56% 8.59%, 44.56% 8.59%, 44.56% 8.59%, 45.44% 9.47%, 45.44% 9.47%, 45.44% 9.47%, 46.28% 10.41%, 46.28% 10.41%, 46.28% 10.41%, 47.11% 11.41%, 47.11% 11.41%, 47.11% 11.41%, 47.89% 12.47%, 47.89% 12.47%, 47.89% 12.47%, 48.61% 13.53%, 48.61% 13.53%, 48.61% 13.53%, 49.28% 14.65%, 49.28% 14.65%, 49.28% 14.65%, 49.89% 15.76%, 49.89% 15.76%, 49.89% 15.76%, 50.44% 16.94%, 50.44% 16.94%, 50.44% 16.94%, 50.94% 18.18%, 50.94% 18.18%, 50.94% 18.18%, 51.39% 19.41%, 51.39% 19.41%, 51.39% 19.41%, 51.78% 20.71%, 51.78% 20.71%, 51.78% 20.71%, 52.11% 22.00%, 52.11% 22.00%, 52.11% 22.00%, 52.39% 23.29%, 52.39% 23.29%, 52.39% 23.29%, 52.78% 26.00%, 52.61% 24.65%, 52.61% 24.65%, 52.78% 26.00%, 52.89% 27.41%, 52.78% 26.00%, 52.89% 27.41%, 52.89% 27.41%, 53.06% 28.82%, 53.06% 28.82%, 53.06% 28.82%);
		-webkit-clip-path: polygon(53.06% 28.82%, 53.06% 28.82%,53.06% 28.82%, 53.00% 30.24%, 53.00% 30.24%, 53.00% 30.24%, 52.89% 31.65%, 52.89% 31.65%, 52.89% 31.65%, 52.72% 33.00%, 52.72% 33.00%, 52.72% 33.00%, 52.50% 34.35%, 52.50% 34.35%, 52.50% 34.35%, 52.22% 35.65%, 52.22% 35.65%, 52.22% 35.65%, 51.89% 36.94%, 51.89% 36.94%, 51.89% 36.94%, 51.50% 38.24%, 51.50% 38.24%, 51.50% 38.24%, 51.06% 39.47%, 51.06% 39.47%, 51.06% 39.47%, 50.56% 40.71%, 50.56% 40.71%, 50.56% 40.71%, 50.00% 41.88%, 50.00% 41.88%, 50.00% 41.88%, 49.39% 43.00%, 49.39% 43.00%, 49.39% 43.00%, 48.72% 44.12%, 48.72% 44.12%, 48.72% 44.12%, 48.00% 45.18%, 48.00% 45.18%, 48.00% 45.18%, 47.22% 46.24%, 47.22% 46.24%, 47.22% 46.24%, 46.39% 47.24%, 46.39% 47.24%, 46.39% 47.24%, 45.56% 48.18%, 45.56% 48.18%, 45.56% 48.18%, 44.67% 49.06%, 44.67% 49.06%, 44.67% 49.06%, 43.72% 49.94%, 43.72% 49.94%, 43.72% 49.94%, 42.72% 50.76%, 42.72% 50.76%, 42.72% 50.76%, 41.72% 51.53%, 41.72% 51.53%, 41.72% 51.53%, 40.67% 52.24%, 40.67% 52.24%, 40.67% 52.24%, 39.61% 52.88%, 39.61% 52.88%, 39.61% 52.88%, 38.50% 53.47%, 38.50% 53.47%, 38.50% 53.47%, 37.33% 54.00%, 37.33% 54.00%, 37.33% 54.00%, 36.17% 54.47%, 36.17% 54.47%, 36.17% 54.47%, 34.94% 54.88%, 34.94% 54.88%, 34.94% 54.88%, 33.72% 55.24%, 33.72% 55.24%, 33.72% 55.24%, 32.50% 55.53%, 32.50% 55.53%, 32.50% 55.53%, 31.22% 55.76%, 31.22% 55.76%, 31.22% 55.76%, 29.94% 55.94%, 29.94% 55.94%, 29.94% 55.94%, 28.61% 56.06%, 28.61% 56.06%, 28.61% 56.06%, 27.28% 56.12%, 27.28% 56.12%, 27.28% 56.12%, 25.94% 56.06%, 25.94% 56.06%, 25.94% 56.06%, 24.61% 55.94%, 24.61% 55.94%, 24.61% 55.94%, 23.33% 55.76%, 23.33% 55.76%, 23.33% 55.76%, 22.06% 55.53%, 22.06% 55.53%, 22.06% 55.53%, 20.83% 55.24%, 20.83% 55.24%, 20.83% 55.24%, 19.61% 54.88%, 19.61% 54.88%, 19.61% 54.88%, 18.39% 54.47%, 18.39% 54.47%, 18.39% 54.47%, 17.22% 54.00%, 17.22% 54.00%, 17.22% 54.00%, 16.06% 53.47%, 16.06% 53.47%, 16.06% 53.47%, 14.94% 52.88%, 14.94% 52.88%, 14.94% 52.88%, 13.89% 52.24%, 13.89% 52.24%, 13.89% 52.24%, 12.83% 51.53%, 12.83% 51.53%, 12.83% 51.53%, 11.83% 50.76%, 11.83% 50.76%, 11.83% 50.76%, 10.83% 49.94%, 10.83% 49.94%, 10.83% 49.94%, 9.89% 49.06%, 9.89% 49.06%, 9.00% 48.18%, 9.00% 48.18%, 8.17% 47.24%, 8.17% 47.24%, 7.33% 46.24%, 7.33% 46.24%, 6.56% 45.18%, 6.56% 45.18%, 5.83% 44.12%, 5.83% 44.12%, 5.17% 43.00%, 5.17% 43.00%, 4.56% 41.88%, 4.56% 41.88%, 4.00% 40.71%, 4.00% 40.71%, 3.50% 39.47%, 3.50% 39.47%, 2.94% 38.24%, 2.94% 38.24%, 2.56% 36.94%, 2.56% 36.94%, 2.22% 35.65%, 2.22% 35.65%, 1.94% 34.35%, 1.94% 34.35%, 1.72% 33.00%, 1.72% 33.00%, 1.56% 31.65%, 1.56% 31.65%, 1.44% 30.24%, 1.44% 30.24%, 1.39% 28.82%, 1.39% 28.82%, 1.44% 27.41%, 1.44% 27.41%, 1.56% 26.00%, 1.56% 26.00%, 1.72% 24.65%, 1.72% 24.65%, 1.94% 23.29%, 1.94% 23.29%, 2.22% 22.00%, 2.22% 22.00%, 2.56% 20.71%, 2.56% 20.71%, 2.94% 19.41%, 2.94% 19.41%, 3.39% 18.18%, 3.39% 18.18%, 3.89% 16.94%, 3.89% 16.94%, 4.44% 15.76%, 4.44% 15.76%, 5.06% 14.65%, 5.06% 14.65%, 5.72% 13.53%, 5.72% 13.53%, 6.44% 12.47%, 6.44% 12.47%, 7.22% 11.41%, 7.22% 11.41%, 8.06% 10.41%, 8.06% 10.41%, 8.89% 9.47%, 8.89% 9.47%, 9.78% 8.59%, 9.78% 8.59%, 10.72% 7.71%, 10.72% 7.71%, 11.72% 6.88%, 11.72% 6.88%, 12.72% 6.12%, 12.72% 6.12%, 12.72% 6.12%, 13.78% 5.41%, 13.78% 5.41%, 13.78% 5.41%, 14.83% 4.76%, 14.83% 4.76%, 14.83% 4.76%, 15.94% 4.18%, 15.94% 4.18%, 15.94% 4.18%, 17.11% 3.65%, 17.11% 3.65%, 17.11% 3.65%, 18.28% 3.18%, 18.28% 3.18%, 18.28% 3.18%, 19.50% 2.76%, 19.50% 2.76%, 19.50% 2.76%, 20.72% 2.41%, 20.72% 2.41%, 20.72% 2.41%, 21.94% 2.12%, 21.94% 2.12%, 21.94% 2.12%, 23.22% 1.88%, 23.22% 1.88%, 23.22% 1.88%, 24.50% 1.71%, 24.50% 1.71%, 24.50% 1.71%, 25.83% 1.59%, 25.83% 1.59%, 25.83% 1.59%, 27.17% 1.53%, 27.17% 1.53%, 27.17% 1.53%, 28.50% 1.59%, 28.50% 1.59%, 28.50% 1.59%, 29.83% 1.71%, 29.83% 1.71%, 29.83% 1.71%, 31.11% 1.88%, 31.11% 1.88%, 31.11% 1.88%, 32.39% 2.12%, 32.39% 2.12%, 32.39% 2.12%, 33.61% 2.41%, 33.61% 2.41%, 33.61% 2.41%, 34.83% 2.76%, 34.83% 2.76%, 34.83% 2.76%, 36.06% 3.18%, 36.06% 3.18%, 36.06% 3.18%, 36.06% 3.18%, 36.06% 3.18%, 36.06% 3.18%, 38.39% 4.18%, 38.39% 4.18%, 38.39% 4.18%, 39.50% 4.76%, 39.50% 4.76%, 39.50% 4.76%, 40.56% 5.41%, 40.56% 5.41%, 40.56% 5.41%, 41.61% 6.12%, 41.61% 6.12%, 41.61% 6.12%, 42.61% 6.88%, 42.61% 6.88%, 42.61% 6.88%, 43.61% 7.71%, 43.61% 7.71%, 43.61% 7.71%, 44.56% 8.59%, 44.56% 8.59%, 44.56% 8.59%, 45.44% 9.47%, 45.44% 9.47%, 45.44% 9.47%, 46.28% 10.41%, 46.28% 10.41%, 46.28% 10.41%, 47.11% 11.41%, 47.11% 11.41%, 47.11% 11.41%, 47.89% 12.47%, 47.89% 12.47%, 47.89% 12.47%, 48.61% 13.53%, 48.61% 13.53%, 48.61% 13.53%, 49.28% 14.65%, 49.28% 14.65%, 49.28% 14.65%, 49.89% 15.76%, 49.89% 15.76%, 49.89% 15.76%, 50.44% 16.94%, 50.44% 16.94%, 50.44% 16.94%, 50.94% 18.18%, 50.94% 18.18%, 50.94% 18.18%, 51.39% 19.41%, 51.39% 19.41%, 51.39% 19.41%, 51.78% 20.71%, 51.78% 20.71%, 51.78% 20.71%, 52.11% 22.00%, 52.11% 22.00%, 52.11% 22.00%, 52.39% 23.29%, 52.39% 23.29%, 52.39% 23.29%, 52.78% 26.00%, 52.61% 24.65%, 52.61% 24.65%, 52.78% 26.00%, 52.89% 27.41%, 52.78% 26.00%, 52.89% 27.41%, 52.89% 27.41%, 53.06% 28.82%, 53.06% 28.82%, 53.06% 28.82%);
		background-color: #ffffff;
	}
	
	/*changeout classes for javascript*/
	.menuShow {
		clip-path: polygon(74.71% 72.35%, 73.24% 72.35%, 71.76% 72.35%, 71.00% 73.88%, 71.18% 75.88%, 71.18% 77.06%, 71.18% 78.24%, 71.76% 79.12%, 72.35% 80.00%, 72.59% 80.88%, 72.35% 81.76%, 71.47% 81.76%, 70.59% 81.76%, 69.59% 80.82%, 69.41% 79.29%, 69.00% 77.24%, 68.24% 75.29%, 67.65% 75.29%, 67.06% 75.29%, 66.47% 75.88%, 65.88% 76.47%, 64.71% 76.47%, 63.53% 76.47%, 63.24% 76.76%, 62.94% 77.06%, 62.65% 77.06%, 62.35% 77.06%, 62.35% 77.65%, 62.35% 78.24%, 62.18% 80.59%, 62.35% 82.94%, 62.76% 85.29%, 62.94% 87.65%, 62.41% 89.71%, 61.76% 91.76%, 61.24% 94.12%, 61.18% 96.47%, 61.29% 97.35%, 61.18% 98.24%, 60.59% 98.82%, 60.00% 99.41%, 58.29% 99.18%, 57.06% 97.65%, 56.47% 96.76%, 55.88% 95.88%, 55.88% 94.71%, 55.88% 93.53%, 55.76% 92.06%, 55.88% 90.59%, 55.88% 89.41%, 55.88% 88.24%, 55.59% 85.59%, 55.29% 82.94%, 55.24% 81.47%, 55.29% 80.00%, 55.29% 79.12%, 55.29% 78.24%, 54.41% 77.65%, 53.53% 77.06%, 50.00% 77.06%, 46.47% 77.06%, 45.29% 78.82%, 44.12% 80.59%, 43.24% 82.65%, 42.35% 84.71%, 41.47% 87.06%, 40.59% 89.41%, 39.41% 91.18%, 38.24% 92.94%, 37.53% 93.88%, 36.53% 94.47%, 35.59% 94.71%, 34.71% 94.53%, 33.76% 93.00%, 33.53% 91.18%, 34.12% 90.29%, 34.71% 89.41%, 35.29% 88.24%, 35.88% 87.06%, 36.76% 85.00%, 37.65% 82.94%, 38.24% 80.59%, 38.82% 78.24%, 39.71% 76.18%, 40.59% 74.12%, 40.24% 72.82%, 38.82% 72.35%, 38.18% 72.71%, 37.65% 73.29%, 37.06% 74.00%, 36.47% 74.71%, 35.29% 76.76%, 34.12% 78.82%, 32.76% 80.12%, 31.18% 80.00%, 30.47% 78.06%, 30.59% 75.88%, 31.00% 72.94%, 31.18% 70.00%, 31.24% 68.53%, 31.18% 67.06%, 30.71% 66.06%, 30.00% 65.29%, 29.41% 64.41%, 28.82% 63.53%, 27.94% 62.94%, 27.06% 62.35%, 26.18% 62.35%, 25.29% 62.35%, 24.12% 62.94%, 22.94% 63.53%, 20.29% 64.71%, 17.65% 65.88%, 13.53% 68.82%, 9.41% 71.76%, 7.35% 73.24%, 5.29% 74.71%, 4.12% 75.29%, 2.94% 75.88%, 1.76% 75.88%, 0.59% 75.88%, 0.12% 75.06%, 0.00% 74.12%, 0.59% 73.29%, 1.18% 72.94%, 3.53% 71.47%, 5.88% 70.00%, 7.94% 68.24%, 10.00% 66.47%, 12.06% 64.71%, 14.12% 62.94%, 16.47% 61.47%, 18.82% 60.00%, 21.18% 58.53%, 23.53% 57.06%, 24.41% 56.18%, 25.29% 55.29%, 24.94% 54.47%, 24.12% 54.12%, 23.24% 53.53%, 22.35% 52.94%, 11.18% 52.94%, 0.00% 52.94%, -0.41% 52.12%, -0.12% 51.29%, -0.06% 51.24%, -0.00% 51.18%, 9.71% 51.18%, 19.41% 51.18%, 20.29% 50.59%, 21.18% 50.00%, 21.18% 48.82%, 21.18% 47.65%, 21.18% 47.65%, 21.18% 47.65%, 21.18% 47.59%, 21.18% 47.06%, 21.18% 47.06%, 21.18% 47.06%, 21.18% 46.76%, 21.18% 46.47%, 21.18% 46.47%, 21.18% 46.47%, 20.82% 45.29%, 20.00% 44.12%, 19.12% 43.53%, 18.24% 42.94%, 17.06% 42.94%, 15.88% 42.94%, 12.94% 43.53%, 10.00% 44.12%, 7.35% 44.12%, 4.71% 44.12%, 4.18% 43.76%, 4.12% 42.94%, 4.71% 42.35%, 5.29% 41.76%, 7.94% 41.18%, 10.59% 40.59%, 13.53% 40.00%, 16.47% 39.41%, 17.65% 38.82%, 18.82% 38.24%, 19.12% 38.24%, 19.41% 38.24%, 19.41% 37.06%, 19.41% 35.88%, 19.41% 35.59%, 19.41% 35.29%, 20.00% 35.29%, 20.59% 35.29%, 21.00% 34.76%, 21.18% 34.12%, 21.18% 32.06%, 21.18% 30.00%, 21.35% 28.82%, 21.18% 27.65%, 20.59% 26.76%, 20.00% 25.88%, 19.71% 24.71%, 20.00% 23.53%, 21.76% 22.94%, 23.53% 24.12%, 24.41% 24.12%, 25.29% 24.12%, 25.59% 22.94%, 25.29% 21.76%, 24.71% 20.59%, 24.12% 19.41%, 23.76% 17.88%, 24.59% 16.53%, 26.12% 16.29%, 27.65% 16.47%, 28.53% 16.47%, 29.41% 16.47%, 30.00% 15.88%, 30.59% 15.29%, 31.00% 14.47%, 31.18% 13.53%, 31.24% 12.65%, 31.76% 11.76%, 34.12% 11.76%, 36.47% 11.76%, 37.06% 11.76%, 37.53% 11.53%, 37.65% 11.12%, 37.65% 10.65%, 37.76% 9.41%, 38.06% 8.18%, 39.53% 6.41%, 41.82% 5.82%, 44.18% 5.24%, 46.53% 4.65%, 48.88% 4.65%, 51.24% 4.65%, 53.18% 4.59%, 54.76% 3.47%, 55.65% 2.00%, 56.47% 0.59%, 57.24% -0.12%, 58.12% -0.53%, 59.00% 0.24%, 59.35% 1.47%, 59.47% 3.94%, 60.65% 5.88%, 63.59% 5.88%, 66.53% 5.88%, 67.41% 5.29%, 68.29% 4.71%, 70.35% 4.71%, 72.41% 4.71%, 72.65% 5.82%, 72.35% 6.47%, 72.18% 8.29%, 72.94% 10.59%, 73.82% 10.59%, 74.71% 10.59%, 75.59% 11.18%, 76.47% 11.76%, 78.18% 13.35%, 80.29% 14.12%, 82.12% 14.00%, 83.88% 14.53%, 84.59% 15.24%, 85.06% 16.12%, 85.06% 16.94%, 84.76% 17.71%, 84.00% 19.71%, 84.18% 21.82%, 84.18% 22.41%, 84.18% 23.00%, 84.76% 23.00%, 85.35% 23.00%, 86.24% 23.59%, 87.12% 24.18%, 87.53% 24.71%, 87.71% 25.35%, 87.41% 26.24%, 87.12% 27.12%, 87.71% 27.71%, 88.29% 28.29%, 89.18% 28.88%, 90.06% 29.47%, 92.18% 29.71%, 94.76% 29.47%, 95.65% 29.47%, 96.53% 29.47%, 96.71% 30.35%, 95.94% 31.24%, 95.06% 31.24%, 94.12% 31.24%, 92.94% 31.82%, 91.76% 32.41%, 91.18% 33.29%, 90.59% 34.18%, 90.18% 35.00%, 90.00% 35.94%, 90.12% 37.12%, 90.00% 38.29%, 89.82% 39.47%, 90.00% 40.65%, 90.00% 41.82%, 90.00% 43.00%, 90.06% 44.12%, 90.59% 44.76%, 91.18% 45.35%, 91.76% 45.94%, 92.00% 46.82%, 91.76% 47.71%, 91.18% 48.29%, 90.59% 48.88%, 89.71% 49.47%, 88.82% 50.06%, 87.18% 51.41%, 86.47% 53.53%, 86.41% 54.41%, 86.47% 55.29%, 86.47% 56.18%, 86.47% 57.06%, 85.82% 58.94%, 84.12% 60.00%, 83.24% 60.00%, 82.35% 60.00%, 81.47% 60.59%, 80.59% 61.18%, 80.00% 61.18%, 79.41% 61.18%, 79.41% 61.76%, 79.41% 62.35%, 79.59% 62.94%, 79.41% 63.53%, 79.18% 64.12%, 79.41% 64.71%, 79.71% 64.71%, 80.00% 64.71%, 80.47% 65.53%, 80.59% 66.47%, 80.24% 67.24%, 79.41% 67.06%, 78.53% 66.47%, 77.65% 65.88%, 76.76% 65.29%, 75.88% 64.71%, 74.41% 64.71%, 72.94% 64.71%, 73.82% 68.53%, 74.71% 72.35%);
		-webkit-clip-path: polygon(74.71% 72.35%, 73.24% 72.35%, 71.76% 72.35%, 71.00% 73.88%, 71.18% 75.88%, 71.18% 77.06%, 71.18% 78.24%, 71.76% 79.12%, 72.35% 80.00%, 72.59% 80.88%, 72.35% 81.76%, 71.47% 81.76%, 70.59% 81.76%, 69.59% 80.82%, 69.41% 79.29%, 69.00% 77.24%, 68.24% 75.29%, 67.65% 75.29%, 67.06% 75.29%, 66.47% 75.88%, 65.88% 76.47%, 64.71% 76.47%, 63.53% 76.47%, 63.24% 76.76%, 62.94% 77.06%, 62.65% 77.06%, 62.35% 77.06%, 62.35% 77.65%, 62.35% 78.24%, 62.18% 80.59%, 62.35% 82.94%, 62.76% 85.29%, 62.94% 87.65%, 62.41% 89.71%, 61.76% 91.76%, 61.24% 94.12%, 61.18% 96.47%, 61.29% 97.35%, 61.18% 98.24%, 60.59% 98.82%, 60.00% 99.41%, 58.29% 99.18%, 57.06% 97.65%, 56.47% 96.76%, 55.88% 95.88%, 55.88% 94.71%, 55.88% 93.53%, 55.76% 92.06%, 55.88% 90.59%, 55.88% 89.41%, 55.88% 88.24%, 55.59% 85.59%, 55.29% 82.94%, 55.24% 81.47%, 55.29% 80.00%, 55.29% 79.12%, 55.29% 78.24%, 54.41% 77.65%, 53.53% 77.06%, 50.00% 77.06%, 46.47% 77.06%, 45.29% 78.82%, 44.12% 80.59%, 43.24% 82.65%, 42.35% 84.71%, 41.47% 87.06%, 40.59% 89.41%, 39.41% 91.18%, 38.24% 92.94%, 37.53% 93.88%, 36.53% 94.47%, 35.59% 94.71%, 34.71% 94.53%, 33.76% 93.00%, 33.53% 91.18%, 34.12% 90.29%, 34.71% 89.41%, 35.29% 88.24%, 35.88% 87.06%, 36.76% 85.00%, 37.65% 82.94%, 38.24% 80.59%, 38.82% 78.24%, 39.71% 76.18%, 40.59% 74.12%, 40.24% 72.82%, 38.82% 72.35%, 38.18% 72.71%, 37.65% 73.29%, 37.06% 74.00%, 36.47% 74.71%, 35.29% 76.76%, 34.12% 78.82%, 32.76% 80.12%, 31.18% 80.00%, 30.47% 78.06%, 30.59% 75.88%, 31.00% 72.94%, 31.18% 70.00%, 31.24% 68.53%, 31.18% 67.06%, 30.71% 66.06%, 30.00% 65.29%, 29.41% 64.41%, 28.82% 63.53%, 27.94% 62.94%, 27.06% 62.35%, 26.18% 62.35%, 25.29% 62.35%, 24.12% 62.94%, 22.94% 63.53%, 20.29% 64.71%, 17.65% 65.88%, 13.53% 68.82%, 9.41% 71.76%, 7.35% 73.24%, 5.29% 74.71%, 4.12% 75.29%, 2.94% 75.88%, 1.76% 75.88%, 0.59% 75.88%, 0.12% 75.06%, 0.00% 74.12%, 0.59% 73.29%, 1.18% 72.94%, 3.53% 71.47%, 5.88% 70.00%, 7.94% 68.24%, 10.00% 66.47%, 12.06% 64.71%, 14.12% 62.94%, 16.47% 61.47%, 18.82% 60.00%, 21.18% 58.53%, 23.53% 57.06%, 24.41% 56.18%, 25.29% 55.29%, 24.94% 54.47%, 24.12% 54.12%, 23.24% 53.53%, 22.35% 52.94%, 11.18% 52.94%, 0.00% 52.94%, -0.41% 52.12%, -0.12% 51.29%, -0.06% 51.24%, -0.00% 51.18%, 9.71% 51.18%, 19.41% 51.18%, 20.29% 50.59%, 21.18% 50.00%, 21.18% 48.82%, 21.18% 47.65%, 21.18% 47.65%, 21.18% 47.65%, 21.18% 47.59%, 21.18% 47.06%, 21.18% 47.06%, 21.18% 47.06%, 21.18% 46.76%, 21.18% 46.47%, 21.18% 46.47%, 21.18% 46.47%, 20.82% 45.29%, 20.00% 44.12%, 19.12% 43.53%, 18.24% 42.94%, 17.06% 42.94%, 15.88% 42.94%, 12.94% 43.53%, 10.00% 44.12%, 7.35% 44.12%, 4.71% 44.12%, 4.18% 43.76%, 4.12% 42.94%, 4.71% 42.35%, 5.29% 41.76%, 7.94% 41.18%, 10.59% 40.59%, 13.53% 40.00%, 16.47% 39.41%, 17.65% 38.82%, 18.82% 38.24%, 19.12% 38.24%, 19.41% 38.24%, 19.41% 37.06%, 19.41% 35.88%, 19.41% 35.59%, 19.41% 35.29%, 20.00% 35.29%, 20.59% 35.29%, 21.00% 34.76%, 21.18% 34.12%, 21.18% 32.06%, 21.18% 30.00%, 21.35% 28.82%, 21.18% 27.65%, 20.59% 26.76%, 20.00% 25.88%, 19.71% 24.71%, 20.00% 23.53%, 21.76% 22.94%, 23.53% 24.12%, 24.41% 24.12%, 25.29% 24.12%, 25.59% 22.94%, 25.29% 21.76%, 24.71% 20.59%, 24.12% 19.41%, 23.76% 17.88%, 24.59% 16.53%, 26.12% 16.29%, 27.65% 16.47%, 28.53% 16.47%, 29.41% 16.47%, 30.00% 15.88%, 30.59% 15.29%, 31.00% 14.47%, 31.18% 13.53%, 31.24% 12.65%, 31.76% 11.76%, 34.12% 11.76%, 36.47% 11.76%, 37.06% 11.76%, 37.53% 11.53%, 37.65% 11.12%, 37.65% 10.65%, 37.76% 9.41%, 38.06% 8.18%, 39.53% 6.41%, 41.82% 5.82%, 44.18% 5.24%, 46.53% 4.65%, 48.88% 4.65%, 51.24% 4.65%, 53.18% 4.59%, 54.76% 3.47%, 55.65% 2.00%, 56.47% 0.59%, 57.24% -0.12%, 58.12% -0.53%, 59.00% 0.24%, 59.35% 1.47%, 59.47% 3.94%, 60.65% 5.88%, 63.59% 5.88%, 66.53% 5.88%, 67.41% 5.29%, 68.29% 4.71%, 70.35% 4.71%, 72.41% 4.71%, 72.65% 5.82%, 72.35% 6.47%, 72.18% 8.29%, 72.94% 10.59%, 73.82% 10.59%, 74.71% 10.59%, 75.59% 11.18%, 76.47% 11.76%, 78.18% 13.35%, 80.29% 14.12%, 82.12% 14.00%, 83.88% 14.53%, 84.59% 15.24%, 85.06% 16.12%, 85.06% 16.94%, 84.76% 17.71%, 84.00% 19.71%, 84.18% 21.82%, 84.18% 22.41%, 84.18% 23.00%, 84.76% 23.00%, 85.35% 23.00%, 86.24% 23.59%, 87.12% 24.18%, 87.53% 24.71%, 87.71% 25.35%, 87.41% 26.24%, 87.12% 27.12%, 87.71% 27.71%, 88.29% 28.29%, 89.18% 28.88%, 90.06% 29.47%, 92.18% 29.71%, 94.76% 29.47%, 95.65% 29.47%, 96.53% 29.47%, 96.71% 30.35%, 95.94% 31.24%, 95.06% 31.24%, 94.12% 31.24%, 92.94% 31.82%, 91.76% 32.41%, 91.18% 33.29%, 90.59% 34.18%, 90.18% 35.00%, 90.00% 35.94%, 90.12% 37.12%, 90.00% 38.29%, 89.82% 39.47%, 90.00% 40.65%, 90.00% 41.82%, 90.00% 43.00%, 90.06% 44.12%, 90.59% 44.76%, 91.18% 45.35%, 91.76% 45.94%, 92.00% 46.82%, 91.76% 47.71%, 91.18% 48.29%, 90.59% 48.88%, 89.71% 49.47%, 88.82% 50.06%, 87.18% 51.41%, 86.47% 53.53%, 86.41% 54.41%, 86.47% 55.29%, 86.47% 56.18%, 86.47% 57.06%, 85.82% 58.94%, 84.12% 60.00%, 83.24% 60.00%, 82.35% 60.00%, 81.47% 60.59%, 80.59% 61.18%, 80.00% 61.18%, 79.41% 61.18%, 79.41% 61.76%, 79.41% 62.35%, 79.59% 62.94%, 79.41% 63.53%, 79.18% 64.12%, 79.41% 64.71%, 79.71% 64.71%, 80.00% 64.71%, 80.47% 65.53%, 80.59% 66.47%, 80.24% 67.24%, 79.41% 67.06%, 78.53% 66.47%, 77.65% 65.88%, 76.76% 65.29%, 75.88% 64.71%, 74.41% 64.71%, 72.94% 64.71%, 73.82% 68.53%, 74.71% 72.35%);
		background-color: #000000;
		transform: scale(1,1);
		top: -11em;
		right: -10em;
	}
	
	.ulShow {display: block;}
	#hamburger {display: block;}
	
}

/*============================================*/
/*stylings for text and headings*/

li a {
	text-decoration: none;
	color: white;
}

article {padding-bottom: 1em;}

article:last-child {padding-bottom: 0em;}

article:first-child {padding: .5em 0 0 0;}

article p, figure {padding: 0 .5em .5em .5em;}

#main>h1 {
	font-size: 2.4em;
	text-indent: 1em;
	padding: 1em 0 .3em 0;
}

#main>h2 {
	font-size: 2em;
	text-indent: 2em;
	padding: .24em;
}

article>h2{
	font-size: 2em;
	text-indent: 2em;
	padding: .24em 0 1em 0;
}

#main>h3 {
	font-size: 3em;
	text-indent: 4em;
	padding: .24em;
}

h4{
	font-size: 3em;
	text-indent: 4em;
	padding: .24em 0 1em 0;
}

@media all and (max-width: 38.125em){
	#main>h1 {
		text-indent: 0em;
		text-align: center;
	}

	#main>h2 {
		text-indent: 0em;
		text-align: center;
	}

	article>h2{
		text-indent: 0em;
		text-align: center;
	}

	#main>h3 {
		text-indent: 0em;
		text-align: center;
	}

	h4{
		text-indent: 0em;
		text-align: center;
	}
}

footer h1, footer h2, footer h3, footer h4 {margin: 1em 0;}

p, figcaption {line-height: 1.1em;}

article p {
	white-space: pre-line;
	font-size: 1.2em;
	text-align: justify;
}

p.about {text-align: left;}

h2.about {
	padding-left: 0em;
	padding: .37em 0;
	margin: 0;
	text-align: left;
	text-indent: 0;
}

h4.about {
	padding-left: 0em;
	padding: 0em;
	margin: 0;
	text-align: left;
	text-indent: 0;
}

h1 {font-size: 1.8em;}
h2 {font-size: 1.5em;}
h3 {font-size: 1.5em;}
h4 {font-size: 1.5em; font-style: italic;}


/*============================================*/
/*stylings for images and what holds them*/

.flex-images {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

figure {
	display: block;
	background-color: #ffffff;
	width: 33.33%;
	height: 15em;
	overflow: hidden;
	padding: 0;
	margin: auto;
	cursor: pointer;
	z-index: 2;
	box-shadow: none;
	-o-box-shadow: none;
	-mox-box-shadow: none;
	-webkit-box-shadow: none;
}

figure:hover {
	box-shadow: inset 0 0 1.3em .3em rgba(137, 194, 255, 1);
	-o-box-shadow: inset 0 0 1.3em .3em rgba(137, 194, 255, 1);
	-moz-box-shadow: inset 0 0 1.3em .3em rgba(137, 194, 255, 1);
	-webkit-box-shadow: inset 0 0 1.3em .3em rgba(137, 194, 255, 1);
}

div.flex-images>a>figure {width: 100%;}

div.flex-images>a {
	width: 33.33%;
	margin: auto;
}

div.preview-link {
	width: 100%;
	height: 15em;
	background-position: top center;
	background-size: cover;
	box-shadow: inset 0 0 1.3em .3em  rgba(255, 255, 255, .9);
	-o-box-shadow: inset 0 0 1.3em .3em  rgba(255, 255, 255, .9);
	-moz-box-shadow: inset 0 0 1.3em .3em  rgba(255, 255, 255, .9);
	-webkit-box-shadow: inset 0 0 1.3em .3em  rgba(255, 255, 255, .9);
	display: inline-block;
	transition: opacity .3s ease-out;
	opacity: 1;
}

figure:hover>div.preview-link {
	opacity: .2;
}

figcaption {
	display: block;
	position: relative;
	top: 0;
	width: 100%;
	padding: 1em;
	text-align: justify;
	font-weight: bold;
	transition: top .21s ease-out;
	z-index: 10;
	pointer-events: none;	
}

/*styling for the figcaption text*/
figcaption h1 {font-size: 1.8em;}
figcaption h3 {font-size: 1.5em;}
figcaption h1, figcaption h3, figcaption p:not(:last-child){padding-bottom: .5em; text-align: left;}

figcaption.not-mobile {
	height: 15em;
	vertical-align: center;
	font-size: .87em;
}

div.flex-images>a {
	text-decoration: none;
	color: #10002d;
}

a>figure>figcaption {vertical-align: top;}

figcaption.mobile {
	vertical-align: top;
	background-color: #d5d5e0;
	height: 10em;
	width: 100%;
	font-size: .7em;
	position: relative;
	top: -.4em;
	color: #000000;
	overflow: hidden;
}

figcaption.mobile::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background:linear-gradient(transparent 6em, rgba(255,255,255,.5), rgba(255,255,255,1) 9.5em);
	background:-webkit-linear-gradient(transparent 6em, rgba(255,255,255,.5), rgba(255,255,255,1) 9.5em);
}

figcaption.not-mobile::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 5em;
	background:linear-gradient(transparent 6em, rgba(255,255,255,.5), rgba(255,255,255,1) 9.5em);
	background:-webkit-linear-gradient(transparent 6em, rgba(255,255,255,.5), rgba(255,255,255,1) 9.5em);
}

figure:hover figcaption.not-mobile {
	top: -15em;
}

@media all and (max-width: 59em){
	figure {width: 50%;}
	div.flex-images>a{width: 50%;}
}

@media all and (max-width: 38.125em) {
	figure {
		width: 100%;
		padding: 0;
		margin: 0;
	}

	div.flex-images>a{width: 100%;}
	div.preview-link {
		background-position: top center;
		box-shadow: inset 0 0 1.3em .7em  rgba(255, 255, 255, .9);
		-o-box-shadow: inset 0 0 1.3em .7em  rgba(255, 255, 255, .9);
		-moz-box-shadow: inset 0 0 1.3em .7em  rgba(255, 255, 255, .9);
		-webkit-box-shadow: inset 0 0 1.3em .7em  rgba(255, 255, 255, .9);
	}
	figure:hover {
		box-shadow: inset 0 0 1.3em .7em rgba(137, 194, 255, 1);
		-o-box-shadow: inset 0 0 1.3em .7em rgba(137, 194, 255, 1);
		-moz-box-shadow: inset 0 0 1.3em .7em rgba(137, 194, 255, 1);
		-webkit-box-shadow: inset 0 0 1.3em .7em rgba(137, 194, 255, 1);
	}
}

.portrait {
	float: right;
	padding: 1em;
	max-width: 30em;
}

@media all and (max-width: 38.125em) {
	.portrait {
		float: none;
		width: 100%;
		max-width: none;
	}
}

/*============================================*/
/*stylings for footer tag excluding form*/


footer {
	width: 100%;
	background-color: #272735;
	color: #ffffff;
	overflow: auto;
	padding: .7em .7em 0 .7em;
	border-top: .35em double #9fa7b5;
}

footer form {
	width: 90%;
	padding: 0 .5em .5em .5em;
}

.footer-section {
	width: 40%;
	float: left;
	padding-bottom: 1em;
}

.footer-section:first-child {
	width: 60%;
}

.footer-section:last-child {width: 100%; clear: both;}

.little-bio {
	display: flex;
	min-height: 55%;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

#social-footer>ul li {
	font-size: 2em;
	padding: .3em;
	display: block;
	transition: all .1s ease-in-out;
}

#social-footer>ul li:hover {
	transform: scale(1.3) translate(-.2em, 0);
}

#social-footer>ul li:active {
	transform: scale(1.5) translate(-.2em, 0);
	color: #89c2ff;
}

#social-footer>ul a:active {color: #89c2ff}

#social-footer ul {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	list-style: none;
}

#footer-bio {
	max-width:80%;
	text-align: center;
	padding-bottom: 1.3em;
}

#copyright {float: left; font-size: 1.2em; padding: 0 0.2em; margin-top: -.2em; font-family:'Amaranth', sans-serif;}
#copyright-holder>a>svg {max-width: 12.6em; float: left;}

/*Hover and active effects for copyright Link*/
#copyright-holder>a>svg>path{fill: #ffffff;}
#copyright-holder:hover>a>svg>path{fill: #89c2ff;}
#copyright-holder:hover>p{color: #89c2ff;}
#copyright-holder:active>a>svg{
	filter: drop-shadow(0 0 .23em #89c2ff);
	-webkit-filter: drop-shadow(0 0 .23em #89c2ff);
}
#copyright-holder:active>a>svg>path{fill:#ffffff;}
#copyright-holder:active>p{
	text-shadow: 0 0 .23em #89c2ff;
	color: #ffffff;
}

@media all and (max-width: 59em){
	.little-bio {
	  flex-flow: column-reverse nowrap;
		justify-content: center;
		align-content: center;
	}
	
	#social-footer ul {
		flex-flow: row nowrap;
		margin-bottom: 1em;
	}
	
	#social-footer>ul li {padding: 0 .3em;}
	
	#social-footer>ul li:hover {
		transform: scale(1.3) translate(0, -.3em);
	}
	
	#social-footer>ul li:active {
		transform: scale(1.5) translate(0, -.3em);
	}	
}

@media all and (max-width: 47.45em) {
	.footer-section, .footer-section:first-child {
		width: 100%;
	}
	
	.footer-section>form {
		margin: auto;
	}
	
	.little-bio {
		min-height: auto;
		height: auto;
	}

}

/*============================================*/
/*stylings for the footer's form*/

input {
	display: block;
	border-right: .35em double #9fa7b5;
	border-left: .35em double #9fa7b5;
	border-top: .1em solid #9fa7b5;
	border-bottom: .1em solid #9fa7b5;
	width: 85%;
	font-size: 1.1em;
	padding: .1em;
	float: right;
}

input:first-of-type {
	border-top: .35em double #9fa7b5;
	border-radius: .3em .3em 0 0;}
input:last-of-type {
	border-radius: 0 0 0.3em .3em;
	border-bottom: .35em double #9fa7b5;
}

label {
	width: 15%; 
	float: left; 
	font-size: 1.1em;
	text-align: left;
	padding: .25em;
}

textarea {
	width: 100%; max-width: 100%; 
	height: 20em; max-height: 20em;
	border-radius: .3em;
	border: .35em double #9fa7b5;
	resize: none;
	font-size: 1.1em;
	text-align: left;
}

button {
	float: right; 
	text-align: center;
	margin: .3em 0;
	width: 3.2em;
	max-width: 3.2em;
	min-width: 3.2em;
	height: 2em;
	max-height: 2em;
	min-height: 2em;
	border-radius: .35em;
	font-size: 1.15em;
	background-color: #ffffff;
	border: .2em double #9fa7b5;
	color: #48494c;
	transition: font-size .1s ease-in-out;
	cursor: pointer;
}

button:hover {
	font-size: 1.25em;
}

button:active {
	font-size: 1.25em;
	color: #89c2ff;
}

@media all and (max-width: 24.5em) {
	input {width: 80%;}
}

@media all and (max-width: 19.7em) {
	input {width: 75%;}
}

/*============================================*/
/*stylings for the confirmation window*/

div#confirmation-window {
	position: fixed;
	background-color: rgba(255, 255, 255, .9);
	bottom: 1em;
	right: -1em;
	width: 100%;
	max-width: 40em;
	max-height: 15em;
	padding: 1em;
	z-index: 100;
	transition: all .3s linear;
	box-shadow: inset 0 0 1.3em .5em rgba(137, 194, 255, .9);
	-o-box-shadow: inset 0 0 1.3em .5em rgba(137, 194, 255, .9);
	-moz-box-shadow: inset 0 0 1.3em .5em rgba(137, 194, 255, .9);
	-webkit-box-shadow: inset 0 0 1.3em .5em rgba(137, 194, 255, .9);
	border-radius: .3em 0 0 .3em;
}

div#confirmation-window>p, div#confirmation-window>h2 {opacity: 1; transition: opacity .6s linear;}
div#confirmation-window.hide>p, div#confirmation-window.hide>h2 {opacity: 0;}

div#confirmation-window.hide {
	width: 1em;
	right: -2em;
}

/*============================================*/
/*stylings for fonts*/

p, button, form, input, div, textarea {
	font-family: 'Balthazar', serif;
}

h1, h2, h3, h4, button {
	font-family: 'Amaranth', sans-serif;
}

.quote-name {
	font-family:'Amaranth', sans-serif;
	font-weight: bold;
	font-size: 1.6em;
	text-indent: 2em;
}

nav>ul{
	font-weight: bolder;
	font-family: 'Handlee', cursive;
}


/*============================================*/
/*stylings for secret resume*/

div.round {
  overflow: visible; /* For IE */
  height: 2em;
	position: relative;
	top: 1.3em;
	width: 98%;
	margin: 0 auto;
  border-style: solid;
  border-color: rgba(71, 28, 165, 0.75);
  border-width: .15rem 0 0 0;
  border-radius: 20em;
}
div.round:before { /*taken from css-tricks*/
  display: block;
  content: "";
  height: 2em;
  margin-top: -2.17em;
  border-style: solid;
  border-color: rgba(71, 28, 165, 0.75);
  border-width: 0 0 .1rem 0;
  border-radius: 20em;
}

#wrapper-resume>a {
	position: relative;
	top: -1.1em;
	font-size: 1.3em;
	font-weight: bold;
	color: #471ca5;
	text-decoration: none;
	transition: color .2s ease-in-out;
	width: 9em;
	background-color: white;
	display: block;
	text-align: center;
	margin: 0 auto;
	height: 2em;
}

#wrapper-resume>a:hover {color: aqua;}

#header-resume {
	position: relative;
	top: -3em;
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

#wrapper-resume{
	position: relative;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	max-width: 65em;
	background-color: white;
	z-index: 75;
	color: #45434c;
}

#logo-resume {
	padding: 1rem 2rem;
	width: 18%
}

#logo-resume>img{
	max-height: 9em;
}

#name-resume{
	font-size: 2em;
	padding: 1rem 0;
	width: 73%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}

#name-resume>h1{
	font-size: 2.2em;
}

#contact-resume{
	font-size: 1.2em;
	font-style: normal;
	width: 27rem;
	padding: 1rem 1rem 1rem 0;
	margin: .7rem .7rem 0 0;
	height: 11.26rem;
	background-color: #f2f5f7;
	color: #000000;
	text-align: right;
	border-radius: 0 1em 0 0;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}

#contact-resume>p>a{
	font-weight: bold;
	text-decoration: none;
	color: #471ca5;
	transition: color .2s ease-in-out;
}

#contact-resume>p>a:hover{
	color: aqua;
}

#main-resume{
	position: relative;
	top: -2.3em;
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: row nowrap;
}

#left-resume {
	width: 70%;
	height: 100%;
}

#right-resume {
	max-width: 26.5rem;
	width: 30%;
	margin: 0;
	padding: 0;
	margin: 0 .7rem 0 0;
}

#right-resume>article {
	background-color: #e3e8ef;
	color: #000000;
	padding: 0;
}

#right-resume>article:nth-of-type(3){
	margin-top: .7rem;
	background-color: #c2c9d3;
}

#right-resume>article:nth-of-type(2){
	background-color: #d5dce8;
	border-radius: 0 0 1em 0;
}

.left-section-resume:first-of-type{margin-top: 2rem;}

div.education-resume{
	display: table-cell;
	padding: .4rem;
	width: auto;
	font-size: 1.5em;
	background-color: #471ca5;
	color: #ffffff;
}

div.education-flex>span {
	font-size: 1.4em;
	font-weight: bold;
	margin-left: .7rem;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

div.education-flex{
	display:flex;
	flex-flow: row nowrap;
}

.left-section-resume>span{
	display: block;
	font-size: 1.3em;
	padding: .7rem;
}

.left-section-resume:first-of-type>p{
	margin: 4rem;
}

.left-section-resume>.headings-resume>h3{
	margin: .3rem 0;
}

.left-section-resume:nth-of-type(2)>.headings-resume {
	width: 98%%;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.left-section-resume:nth-of-type(2)>.headings-resume>h3{
	width: 25%;
	display: flex;
	justify-content: flex-end;
}
.left-section-resume:nth-of-type(2)>.headings-resume>h3:first-child,.left-section-resume:nth-of-type(2)>.headings-resume>h3:nth-child(2){
	justify-content: flex-start;
}

.left-section-resume:nth-of-type(3)>.headings-resume {
	width: 98%%;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.left-section-resume:nth-of-type(3)>.headings-resume>h3{
	width: 50%;
	display: flex;
	justify-content: flex-start;
	padding-left: 3rem;
}
.left-section-resume:nth-of-type(3)>.headings-resume>h3:first-child{
	justify-content: flex-end;
	padding-right: 3rem;
}

.rating-resume {
	font-size: .37em;
	color: #96939e;
}

.left-section-resume>ul{
	width: 30%;
	margin: 0 1.5% 2em 1.5%;
	float: left;
}

.left-section-resume>ul>li {
	display: block;
	width: auto;
	font-size: 1.2em;
	list-style: none;
	margin: .5rem;
	text-align: center;
}

.left-section-resume:nth-of-type(3)>ul{
	width: 47%;
	font-size: 1.2em;
}

.left-section-resume:nth-of-type(3)>ul>li>a{
	font-weight: bold;
	text-decoration: none;
	color: #471ca5;
	transition: color .2s ease-in-out;
}
.left-section-resume:nth-of-type(3)>ul>li>a:hover{
	color: aqua;
}

.left-section-resume>ul>li>div{
	display: block;
	width: auto;
	text-align: center;
}

@media screen and (max-width: 65em){
	#contact-resume{
		max-width: 30%;
		width: 27rem;
	}
}

#left-resume>article>p, #right-resume>article>p, .reference-resume-section>p {
	margin: 0;
	padding: 1rem 0 0 0;
	text-align: left;
}

#left-resume>article, #right-resume>article {
	padding: 0 1rem 2rem 1rem;
}

.reference-resume-section>p>a{
	text-decoration: none;
	font-weight: bold;
	color: #471ca5;
	transition: color .2s ease-in-out;
}
.reference-resume-section>p>a:hover{color: aqua;}

.work-resume>p>a{
	font-weight: bold;
	text-decoration: none;
	color: #471ca5;
	transition: color .2s ease-in-out;
}
.work-resume>p>a:hover{color: aqua;}

.work-resume>h3{font-size: 1.25em;}

.reference-resume>h3{padding-top: 1rem;}

.work-experience-resume {
	width: 100%;
	padding: 1rem;
}

.work-experience-resume>.headings-resume{
	width: 98%%;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.work-experience-resume>.headings-resume>h3{
	display: block;
	width: 50%;
	margin: .3rem 0;
}

.work-experience-resume>.headings-resume>h3:first-child{
	display: flex;
	justify-content: flex-end;
	padding-right: 3rem;
}

.work-experience-resume>.headings-resume>h3:last-child{
	padding-left: 3rem;
}

/*stylings for all the icons and HRs*/

div.fading {
  border: .1rem;
	display: flex;
	justify-content: center;
  border-color: #471ca5;
  height: .2em;
	width: 98%;
	margin: 0 auto;
  background-image: linear-gradient(to right, rgba(71, 28, 165, 0), rgba(71, 28, 165, 0.75), rgba(71, 28, 165, 0));
	z-index: 25;
}

div.fading>i {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	font-size: 2.3em;
	height: 4rem;
	width: 4rem;
	margin: -.75em;
	color: #ffffff;
	background-color: #471ca5;
	border-radius: 10em;
	border: .2rem solid #471ca5;
	z-index: 27;
}

div.rightrule {
	display: flex;
	justify-content: flex-end;
  border-color: #471ca5;
	padding: 0 3.4rem 0 0;
	width: 100%;
	z-index: 25;
}

div.rightrule:nth-of-type(2) {height: .7em;}

div.rightrule>i {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	font-size: 2.3em;
	height: 4rem;
	width: 4rem;
	margin: -1em;
	color: #471ca5;
	background-color: white;
	border-radius: 10em;
	z-index: 27;
}

div.rightrule:nth-of-type(2)>i{margin: -.7em;}
i.fa-code{font-weight: bold;}

/*============================================*/
/*stylings for print backgrounds */

@media print {

	#wrapper-resume{
		font-size: 84%;
	}
	
	#contact-resume{
		width: 30%;
		padding: 1rem 1rem 1rem .8rem;
	}
	
}

@page{
	margin: .2cm;
}